.app {
  width: 320px;
  height: fit-content;
  background-color: var(--White);
  padding: 1rem;
  text-align: start;
  border-radius: 20px;
  box-shadow: 8px 8px 0px 0px var(--Gray-950);
  border: 1px solid var(--Gray-950);

  .category {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    border-radius: 5px;
    background-color: var(--Yellow);
    font: var(--text-sm);
    font-weight: 700;
  }

  h1 {
    font: var(--text-md);
    color: var(--Slate-900);
    margin-block: 1rem;
  }

  h1:hover {
    cursor: pointer;
    color: var(--Yellow);
  }

  p {
    font: var(--text-sm);
  }

  .date {
    margin-top: 1rem;
  }

  .description {
    color: var(--Gray-500);
  }

  .illustration {
    width: 288px;
    height: auto;
    border-radius: 12px;
    margin-bottom: 1.25rem;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 1rem;
    font: var(--text-sm);
    font-weight: 600;
  }

  .avatar {
    width: 1.75rem;
    height: 1.75rem;
  }
}
